.color-white {
  color: #fff; }

ul li {
  list-style: none; }
  ul li a {
    color: #fff; }
    ul li a:hover {
      color: #fff;
      text-decoration: none; }

.img {
  width: 100%; }

.radiues {
  border-radius: 25px; }

body {
  overflow-x: hidden; }

.services .header-services {
  text-align: center;
  font-size: 80px;
  color: #fff;
  position: relative; }
  @media (max-width: 991px) {
    .services .header-services {
      font-size: 40px; } }
  .services .header-services::after {
    content: "";
    position: absolute;
    width: 230px;
    height: 4px;
    background-color: #fff;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%); }
.services .img {
  width: 100%; }

.read_more {
  font-size: 25px;
  display: inline-block;
  width: 100%;
  text-align: center; }

ul {
  padding: 0px; }

.special {
  font-size: 25px !important; }

.collapse .navbar-nav {
  background-color: #F27028;
  border-radius: 25px;
  border: 2px solid #F27028;
  margin-left: auto; }
  @media (max-width: 991px) {
    .collapse .navbar-nav {
      font-size: 17px;
      font-weight: bold;
      padding: 30px 15px;
      border-radius: 0px; } }

.nav-item {
  padding: 0px 10px; }
  @media (min-width: 1140px) {
    .nav-item {
      padding: 0px 15px; } }

.logo {
  width: 125px;
  height: 125px; }
  .logo img {
    width: 100%;
    height: 100%; }

.carousel-inner img {
  object-fit: cover; }

.carousel-control-next-icon {
  height: 40px;
  width: 40px; }

.carousel-control-prev-icon {
  height: 40px;
  width: 40px; }

.story {
  background: url(".././images/vistuables.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px 0px; }
  .story .white-story {
    background-color: rgba(255, 255, 255, 0.8); }
    .story .white-story .padding-content {
      padding: 40px 20px; }

.services .bac-services {
  padding: 40px 0px;
  background: url(".././images/services.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .services .bac-services .header-services {
    text-align: center;
    font-size: 80px;
    color: #fff;
    position: relative; }
    @media (max-width: 991px) {
      .services .bac-services .header-services {
        font-size: 40px; } }
    .services .bac-services .header-services::after {
      content: "";
      position: absolute;
      width: 230px;
      height: 4px;
      background-color: #fff;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%); }
  .services .bac-services .overhere {
    width: 100%;
    height: 100%; }
    .services .bac-services .overhere:hover .over-black .content-text {
      display: block; }
    .services .bac-services .overhere .over-black {
      border-radius: 20px;
      border: 1px solid #707070;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative; }
      .services .bac-services .overhere .over-black .img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .services .bac-services .overhere .over-black .content-text {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none; }
        .services .bac-services .overhere .over-black .content-text .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-weight: bold;
          font-size: 18px; }
          .services .bac-services .overhere .over-black .content-text .content span {
            color: #FEAA51; }

.footer {
  background-color: #3B1804;
  margin-top: 35px; }
  .footer li a {
    font-weight: bold;
    font-size: 18px; }
  .footer .email {
    font-size: 18px;
    font-weight: bold; }
    .footer .email a {
      color: #fff; }
      .footer .email a:hover {
        color: #fff;
        text-decoration: none; }
  .footer .number {
    font-size: 25px;
    font-weight: bold; }
    .footer .number a {
      color: #fff; }
      .footer .number a:hover {
        color: #fff;
        text-decoration: none; }
  .footer .social-media a:hover {
    text-decoration: none; }

.right_text {
  text-align: right; }
  @media (max-width: 991px) {
    .right_text {
      text-align: left; } }

/*# sourceMappingURL=Home.css.map */
