.color-white {
  color: #fff; }

ul li {
  list-style: none; }
  ul li a {
    color: #fff; }
    ul li a:hover {
      color: #fff;
      text-decoration: none; }

.img {
  width: 100%; }

.radiues {
  border-radius: 25px; }

body {
  overflow-x: hidden; }

.services .header-services {
  text-align: center;
  font-size: 80px;
  color: #fff;
  position: relative; }
  @media (max-width: 991px) {
    .services .header-services {
      font-size: 40px; } }
  .services .header-services::after {
    content: "";
    position: absolute;
    width: 230px;
    height: 4px;
    background-color: #fff;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%); }
.services .img {
  width: 100%; }

.read_more {
  font-size: 25px;
  display: inline-block;
  width: 100%;
  text-align: center; }

ul {
  padding: 0px; }

.special {
  font-size: 25px !important; }

.collapse .navbar-nav {
  background-color: #F27028;
  border-radius: 25px;
  border: 2px solid #F27028;
  margin-left: auto; }
  @media (max-width: 991px) {
    .collapse .navbar-nav {
      font-size: 17px;
      font-weight: bold;
      padding: 30px 15px;
      border-radius: 0px; } }

.nav-item {
  padding: 0px 10px; }
  @media (min-width: 1140px) {
    .nav-item {
      padding: 0px 15px; } }

.logo {
  width: 125px;
  height: 125px; }
  .logo img {
    width: 100%;
    height: 100%; }

@media (min-width: 992px) {
  .padding-items {
    padding-top: 200px; } }

@media (min-width: 992px) {
  .left-margin-single {
    margin-left: -115px; } }

@media (min-width: 992px) {
  .right-margin-Double {
    margin-left: 115px; } }

.menu-categroy {
  margin-top: 80px; }
  .menu-categroy span {
    margin: 0px 20px;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer; }
    .menu-categroy span.active {
      color: #F27028; }

.menu .border-menu-single {
  width: 100%;
  position: absolute;
  display: none; }
  @media (min-width: 992px) {
    .menu .border-menu-single {
      left: -290px;
      display: block; } }
  .menu .border-menu-single img {
    height: 500px;
    max-width: 100%; }
.menu .images-product img {
  width: 100%;
  transform: scale(1.2); }
  @media (min-width: 992px) {
    .menu .images-product img {
      transform: scale(1.7); } }
.menu .border-menu-double {
  max-width: 100%;
  position: absolute;
  display: none; }
  @media (min-width: 992px) {
    .menu .border-menu-double {
      right: -290px;
      display: block; } }
  .menu .border-menu-double img {
    height: 500px;
    max-width: 100%; }
.menu .images-product img {
  width: 100%;
  transform: scale(1.2); }
  @media (min-width: 992px) {
    .menu .images-product img {
      transform: scale(1.7); } }
.menu .header-items-product {
  text-align: center;
  font-size: 50px;
  color: #F27028;
  text-transform: uppercase; }
  @media (max-width: 992px) {
    .menu .header-items-product {
      font-size: 25px; } }

.padding-detealis {
  color: #811A14; }
  .padding-detealis .deteails {
    padding: 20px; }
    .padding-detealis .deteails h6 {
      font-size: 30px;
      font-weight: bold; }
    .padding-detealis .deteails p {
      text-align: center;
      font-weight: bold;
      font-size: 20px; }

.overhidden {
  overflow: hidden; }

.order-effetct-first {
  order: 2; }
  @media (min-width: 992px) {
    .order-effetct-first {
      order: 1; } }

.order-effetct-secound {
  order: 1; }
  @media (min-width: 992px) {
    .order-effetct-secound {
      order: 2; } }

.footer {
  background-color: #3B1804;
  margin-top: 35px; }
  .footer li a {
    font-weight: bold;
    font-size: 18px; }
  .footer .email {
    font-size: 18px;
    font-weight: bold; }
    .footer .email a {
      color: #fff; }
      .footer .email a:hover {
        color: #fff;
        text-decoration: none; }
  .footer .number {
    font-size: 25px;
    font-weight: bold; }
    .footer .number a {
      color: #fff; }
      .footer .number a:hover {
        color: #fff;
        text-decoration: none; }
  .footer .social-media a:hover {
    text-decoration: none; }

.right_text {
  text-align: right; }
  @media (max-width: 991px) {
    .right_text {
      text-align: left; } }

/*# sourceMappingURL=Menu.css.map */
